<!-- <p>contact works!</p>
<div class="logo">
    <nav>
        <img src="../../assets/Logogeon.png" alt="" width="300px">
        <ul>
            <li><a href="">HOME</a></li>
            <li><a href="">ABOUT</a></li>
            <li><a href="">CONTACT</a></li>
            <li><a href="">SERVICES</a></li>
            
        </ul>
   </nav>
</div>  -->
<!-- <div class="pic">
    <img src="../../assets/busimg.jfif" alt="" width="300px" height="400px">
    <img src="../../assets/busin.jfif" alt="" width="300px" height="400px">
    <img src="../../assets/agile.jfif" alt="" width="300px" height="400px">
</div> -->
<div class="inf">
    <br><br>
    <h1>CONTACT US</h1><br><br>
    Name: &nbsp;&nbsp;&nbsp;&nbsp;<input type="text"/><br><br>
    Email: &nbsp;&nbsp;&nbsp;&nbsp;<input type="email"/><br><br>
    Location: <input type="text"/><br><br>
    Mobile: &nbsp;&nbsp;<input type="text"/><br><br>
    <button>SUBMIT</button>
</div>