<!-- <p>services works!</p>
<div class="logo">
    <nav>
        <img src="../../assets/Logogeon.png" alt="" width="300px">
        <ul>
            <li><a href="">HOME</a></li>
            <li><a href="">ABOUT</a></li>
            <li><a href="">CONTACT</a></li>
            <li><a href="">SERVICES</a></li>
            
        </ul>
   </nav>
</div> -->
<!-- <div class="pic">
    <img src="../../assets/busimg.jfif" alt="" width="300px" height="400px">
    <img src="../../assets/busin.jfif" alt="" width="300px" height="400px">
    <img src="../../assets/agile.jfif" alt="" width="300px" height="400px">
</div> -->
<div class="inf">
    <h1>SERVICES</h1>
    <h3 style="color:blue ;">Product Development</h3>
        <p>Product development is all about strategy. We collaborate from the beginning to identify opportunities and develop concepts, helping to shape your strategy. We enable you by determining the right-sized delivery strategy so that you can quickly obtain customer feedback. Our experienced product development team is ready to partner closely to successfully define, build, and evolve compelling and high-performing products.</p>
        <h3 style="color:blue ;">Embedded Systems</h3>
        <p>We take complete ownership in all areas of Embedded Systems from hardware design, firmware design & development, proto build, firmware integration, test & validation and manufacturing tests & certifications.
        
        We develop prototypes that are as reliable as working products. We help our customers engineering teams to identify and use the latest technologies in their products. We contribute to whole product development as well as sub-system development.</p>
        <h3 style="color:blue ;">IoT Software Development</h3>
Gadgeon provides end-to-end IoT engineering services from edge devices/sensors, cloud, to mobile/web applications. We serve enterprises, start-ups, and OEMs in connecting devices to IoT edge gateways communicating over different protocols. Gadgeon provides IoT software development and IoT software Services towards building Industrial as well as non-industrial IoT Solutions and services offered in different models such as SaaS, PaaS, etc. Our end-to-end solution testing, including test automation, makes sure that all the system components are tested and validated right from design to delivery stage.

Gadgeon helps enterprises from different industries develop connected devices that include wearable, smart sensors, and smart appliances.
<br><br>
<h3 style="color:blue ;">Testing Services</h3>
We enable enterprises with the state-of-the-art, intelligent and insights-driven quality assurance and software testing practices. Our testing services cater to the testing needs of digital systems. We develop checklists, frameworks, processes, methodologies, and best practices to ensure effective and efficient validations of applications across devices. Gadgeon, with its proven experience and end-to-end testing services, addresses challenges like functionality, performance, security, usability, and cross-device compatibility of your applications across the entire digital portfolio.

    </div>