
 <!-- <div class="logo">
    <nav>
        <img src="../../assets/Logogeon.png" alt="" width="300px">
        <ul>
            <li><a href="">HOME</a></li>
            <li><a href="">ABOUT</a></li>
            <li><a href="">CONTACT</a></li>
            <li><a href="">SERVICES</a></li>
            
        </ul>
   </nav>
</div>  -->
<div class="pic">
    <img src="../../assets/busimg.jfif" alt="" width="300px" height="400px">
    <img src="../../assets/busin.jfif" alt="" width="300px" height="400px">
    <img src="../../assets/agile.jfif" alt="" width="300px" height="400px">
</div>
<div class="inf">
    <h1>WHY GADGEON?</h1>
    <p>Gadgeon is a digital technology service provider enabling customer’s digital journey with solutions using new-gen technologies. Our customers are able to focus on high impact business scale up initiatives while the team from Gadgeon taking care of all engineering and operational activities.</p>
</div>
